extends ../layout/main

block variables
	- var title = 'Список товаров';

block content
	section.cat-slider-wrap
		.cat-slider-wrap__sticker Топ категорий

		.cat-slider.js-cat-slider
			-
				var list=[
					{img:'cat-slide1.jpg', text:'Индийские специи', link:'/indijskie-specii-ayurveda-kupit/'},
					{img:'cat-slide2.jpg', text:'Оздоровительные средства', link:'/ozdorovitelnye_sredstva/'},
					{img:'cat-slide3.jpg', text:'Аюрведические шампуни', link:'/ayurvedicheskie-shampuni-kupit/'},
					{img:'cat-slide4.jpg', text:'Лечебные масла', link:'/lechebnye-ayurveda-masla-kupit/'},
					{img:'cat-slide5.jpg', text:'Средства гигиены', link:'/gigienicheskie_sredstva/'},
					{img:'cat-slide6.jpg', text:'Гели и кремы для кожи', link:'/indijskaya-ayurvedicheskaya-kosmetika-kupit/'},
					{img:'cat-slide7.jpg', text:'Косметические маски', link:'/mask/'},
					{img:'cat-slide8.jpg', text:'Аюрведичсекая литература', link:'/knigi-po-ayurvede-ayurvedicheskaya-literatura-kupi/'},
					{img:'cat-slide9.jpg', text:'Товары для йоги', link:'/219/'},
					{img:'cat-slide10.jpg', text:'Био-продукты', link:'/226/'},
					{img:'cat-slide11.jpg', text:'Очищение организма', link:'/ochishenie/'},
					{img:'cat-slide12.jpg', text:'Женское здоровье', link:'/ayurveda-dlya-zhenshchin/'},
				]
			each item in list
				.cat-slider__item
					a(href=item.link).cat-slider__link
						.cat-slider__img(style="background-image: url(/assets/img/"+item.img+")")
						.cat-slider__text= item.text

	section.layout
		.layout__content
			.catalog-sort
				.catalog-sort__item
					.catalog-sort__title Сортировать по цене
					.catalog-sort__arr
						.catalog-sort__arr-asc.active
							+svg('ic-arrow-up','ic-arrow-up', '23', '12')
						.catalog-sort__arr-desc
							+svg('ic-arrow-down','ic-arrow-down', '23', '12')

				.catalog-sort__item
					.catalog-sort__title по наличию
					.catalog-sort__arr
						.catalog-sort__arr-asc
							+svg('ic-arrow-up','ic-arrow-up', '23', '12')
						.catalog-sort__arr-desc
							+svg('ic-arrow-down','ic-arrow-down', '23', '12')

			.catalog-desc
				.catalog-desc__title ПИТАНИЕ. Что такое аюрведическое питание?

				.catalog-desc__text
					.catalog-desc__preview
						p Когда речь заходит об аюрведическом питании, многие полагают, что его можно приравнять к питанию вегетарианскому, но это не совсем так, потому что исключить те или иные продукты из рациона далеко не самое важное.

					.catalog-desc__detail.js-cat-desc-detail
						.quote Прежде всего, Аюрведа говорит о том, что система питания, как и многое другое, должна подбираться с учетом индивидуальных особенностей человека: его природной конституции, типа пищеварительной системы, общего состояния здоровья, возраста, а так же региона проживания и климата. 

						img(src='/assets/img/food.jpg', alt='')

						p Причем, большую роль играет не только качество, но так же объем, время приема пищи, общий психоэмоциональный настрой и образ жизни человека. Наравне с индивидуальными факторами, Веды выделяют и универсальное свойство здоровой и полезной пищи — высокое содержание праны или жизненной энергии, которую можно сохранить следуя нескольким простым правилам:

						ul.list-circle
							li
								strong Разнообразие состава. 
								| Гармоничный рацион включает в себя не только овощи, но и бобовые, орехи, фрукты, молочные и кисломолочные продукты.

							li
								strong Вкусовое разнообразие. 
								| Предпочтительнее, чтобы пища включала в себя все шесть вкусов: соленый, горький, сладкий, кислый, вяжущий, острый.

							li
								strong Использование специй. 
								| Специи помогают не только разнообразить и усилить вкусовые качества пищи, но так же при правильном применении способны усилить, либо, напротив, ослабить огонь пищеварения, который вышел из равновесия.

							li
								strong Свежесть пищи.
								|  Лучше всего, чтобы еда была приготовлена не более чем за 4 часа до предполагаемого приема пищи.

							li
								strong Правильная обработка пищи. 
								| Здоровая пища имеет среднюю температуру, не слишком холодную или горячую, и оптимальную степень готовности, которая позволяет сохранить полезные свойства продуктов. Во время приготовления пищи следует находиться в спокойном и благоприятном настроении, размышлять на духовные темы, а перед едой поблагодарить за пищу Бога.

							li
								strong Маслянистость.
								|  При приготовлении пищи следует использовать разнообразные масла: гхи, оливковое, подсолнечное, из семян виноградной косточки и т.д., таким образом, чтобы пища была не слишком сухой, но и не слишком жирной.

						p При выборе продуктов питания мы руководствуемся именно этими универсальными принципами, которые обеспечивают высокий уровень содержания праны в пище и сотрудничаем только с проверенными компаниями-производителями, которым полностью доверяем.

					.catalog-desc__switch.js-cat-desc-switch(data-text='свенуть') читать далее

			.catalog-list
				-
					var list=[
						{link:'/Bharat_Bazar/6149505/', img:'6149505.jpg', text:'Маш зелёный дроблёный (Moong Chilka) 500 г, Bharat Bazaar', price:'335', desc:'Используется для приготовления различных блюд восточной кухни, супов, сочетается с рисом, овощами и зеленью.'},
						{link:'/Bharat_Bazar/6149520/', img:'6149520.jpg', text:'Маш зелёный (Moong Whole) 500 г, Bharat Bazaar', price:'295', desc:'Используется для приготовления различных блюд восточной кухни, супов, сочетается с рисом, овощами и зеленью.'},
						{link:'/zdoroveda/6210323/', img:'6210323.jpg', text:'Суп турецкий с булгуром и красной чечевицей 250 г, "Здороведа"', price:'180', desc:'Ароматный и яркий по вкусу суп из национальной кухни Турции порадует всех любителей восточных блюд. 100% натуральный состав.'},
						{link:'/hit/6210364/', img:'6210364.jpg', text:'Плов индийский "Бириани" 250 г, "Здороведа"', price:'180', desc:'Национальное блюдо индийской кухни - бирьяни - ароматный плов с пряностями, овощами и сухофруктами. Полностью натуральный состав. Подходит для вегетарианцев.', like:'true'},
						{link:'/snack/6748324/', img:'6748324.jpg', text:'Чипсы фруктовые "Апельсин" 30 г, Сушки (срок годности - до 10 декабря 2020 г.)', old_price:'120 р.', price:'60', desc:'Натуральные ломтики спелых апельсинов, высушенные в дегидраторе при температуре не более 40 градусов.', sale:'-50%'},
						{link:'/no_discont/6987598/', img:'6987598.jpg', text:'Масло Гхи топлёное пищевое 325 г, "TM LALITA" (Спецпредложение от Ayurvedamarket)', old_price:'895 р.', price:'760', desc:'Гхи – особым образом перетопленное сливочное масло. Наиболее полезно для приготовления пищи, способствует её усвоению. Прекрасно подходит для жарки. Блюда, приготовленные на масле Гхи, обладают неповторимым вкусом и ароматом.', spec:'-15%'},
						{link:'/indijskie-specii-ayurveda-kupit/kurkuma-molotaya-shree-masala/', img:'1220.jpg', text:'Куркума молотая 100 г, "Золото Индии"', price:'166', desc:'Приправа с приятным ароматом и лёгким пряным вкусом, подходит для любых блюд, придаёт им солнечно-жёлтый цвет, также способствует улучшению пищеварения. Может использоваться в лечебных и косметических целях. Подходит для всех трёх дош.', top:'true'},
						{link:'/saharaja/6166725/', img:'6166725.jpg', text:'Сахар тростниковый нерафинированный "Мусковадо тёмный" 450 г, "Сахараджа"', price:'225', desc:'Индийский мусковадо - мелкокристаллический сахар с большим содержанием патоки, ярким ароматом и тёмно-коричневым цветом. Подходит для добавления в любые напитки: чай, кофе, какао, а также для приготовления соусов и выпечки.', hit:'true'},
						{link:'/professional/6379382/', img:'6379382.jpg', text:'Масло Гхи топлёное пищевое 1,8 кг, "Медведь & Слон"', price:'3450-', desc:'Масло гхи изготовлено из отборного коровьего масла высшего качества. Перетопленное особым способом на огне и затем очищенное, масло имеет неповторимый сливочный вкус и представляет собой очень полезный для здоровья продукт. Придаёт любым привычным блюдам, особенно жареным, совершенно уникальный вкус. Экономичная упаковка для ежедневного использования.', unavailable:'true', new_collection:'true'},
						{link:'/sauce/7043557/', img:'7043557.jpg', text:'Соус гранатовый 250 мл, Al-Rabih', price:'410', desc:'Гранатовый соус используется как приправа к основным блюдам из мяса, рыбы и птицы, как маринад или добавка к салатам, десертам. Не содержит консервантов и искусственных добавок.', new:'true'},
						{link:'/sweets/i1311/', img:'1311.jpg', text:'Мармелад имбирный 125 г, Gingerbon', price:'165', desc:'100% вкусный натуральный продукт для любителей полезных сладостей. Конфеты-тянучки из натурального имбиря. Улучшают пищеварение, согревают, помогают при простуде, облегчают кашель и боль в горле.', hit_season:'true'},
						{link:'/honey_and_tea/6641931/', img:'6641944.jpg', text:'Мёд вересковый (Удмуртия) 1200 г', price:'1380', desc:'Отборный вересковый мёд, собираемый в Нечкинском заповеднике в Среднем Прикамье. Обладает слегка горьковатым, терпким вкусом и сильным теплым древесно-фруктовым ароматом. Превосходное природное кровеочистительное и мочегонное средство.', new_compl:'true'},
					]

				each item in list
					.catalog-list__item
						.catalog-list__content
							a.catalog-list__img(href=item.link)
								img(src="/assets/img/"+item.img, alt="")

								if(item.like || item.sale || item.spec || item.top || item.hit || item.hit_season ||item.new_collection ||item.new || item.new_compl)
									span.catalog-list__sticker
										if(item.like)
											img(src="/assets/img/sticker-like.png", alt="")
										if(item.sale)
											img(src="/assets/img/sticker-sale.png", alt="")
										if(item.spec)
											img(src="/assets/img/sticker-spec.png", alt="")
										if(item.top)
											img(src="/assets/img/sticker-top.png", alt="")
										if(item.hit)
											img(src="/assets/img/sticker-hit.png", alt="")
										if(item.new_collection)
											img(src="/assets/img/sticker-new-collection.png", alt="")
										if(item.new)
											img(src="/assets/img/sticker-new.png", alt="")
										if(item.hit_season)
											img(src="/assets/img/sticker-hit-season.png", alt="")
										if(item.new_compl)
											img(src="/assets/img/sticker-new-compl.png", alt="")

								if(item.sale)
									span.catalog-list__sale(class=item.spec?'catalog-list__sale_light-blue':'')= item.sale

							.catalog-list__text
								a(href=item.link)= item.text

							.catalog-list__price
								if(item.old_price)
									.catalog-list__old-price= item.old_price
								.catalog-list__cur-price= item.price
									|-

							.catalog-list__desc= item.desc

						.catalog-list__bottom
							if(item.unavailable)
								a(href="#").catalog-list__link Сообщить о поступлении
							else
								a(href="#").btn.btn_green В корзину

	section.slider-product-wrap
		.slider-product-wrap__title Питание

		.slider-product.js-slider-product
			-
				var list=[
					{img:'product-slide1.jpg', text:'Маш зелёный дроблёный (Moong Chilka) 500 г, Bharat Bazaar', link:'/Bharat_Bazar/6149505/'},
					{img:'product-slide2.jpg', text:'Маш зелёный (Moong Whole) 500 г, Bharat Bazaar', link:'/Bharat_Bazar/6149520/'},
					{img:'product-slide3.jpg', text:'Суп турецкий с булгуром и красной чечевицей 250 г, "Здороведа"', link:'/zdoroveda/6210323/'},
					{img:'product-slide4.jpg', text:'Суп старорусский с полбой и зелёной чечевицей 250 г, "Здороведа"', link:'/zdoroveda/6210331/'},
					{img:'product-slide5.jpg', text:'Суп индийский с машем и красной чечевицей 250 г, "Здороведа"', link:'/zdoroveda/6210332/'},
					{img:'product-slide6.jpg', text:'Суп мексиканский с рисом и кукурузой 250 г, "Здороведа"', link:'/zdoroveda/6210333/'},
					{img:'product-slide7.jpg', text:'Суп гороховый веганский 250 г, "Здороведа"', link:'/zdoroveda/6210335/'},
					{img:'product-slide8.jpg', text:'Суп болгарский с зелёной чечевицей и сельдереем 250 г, "Здороведа"', link:'/zdoroveda/6210342/'},
					{img:'product-slide9.jpg', text:'Суп итальянский с красной чечевицей и макаронами "Здороведа", 250 г', link:'/loyal_customer_gift/6210345/'},
					{img:'product-slide10.jpg', text:'Китчери из зелёного маша и риса 250 г, "Здороведа"', link:'/zdoroveda/6210363/'},
					{img:'product-slide11.jpg', text:'Плов индийский "Бириани" 250 г, "Здороведа"', link:'/hit/6210364/'},
					{img:'product-slide12.jpg', text:'Плов с белыми грибами 250 г, "Здороведа"', link:'/zdoroveda/6210365/'},
				]

			each item in list
				.slider-product__item
					a(href=item.link).slider-product__link
						.slider-product__img(style="background-image: url(/assets/img/"+item.img+")")
						.slider-product__text= item.text
