extends ../layout/main

block variables
	- var title = 'Обучение';

block content
	section.training
		-
			var list=[
				{img:'training1.jpg', title:'Запись курса обучения по Аюрведе (первая часть)', text:'После прохождения этого курса вы получите базовые навыки работы консультанта по здоровому образу жизни на основе принципов Аювреды, сможете начать собственную практику, оздоровить себя и своих близких с помощью Аюрведы.', hours:'54 ак. часа ', form:'вебинар', teacher:'Суботялов М.А.', price:'30000 руб.'},
				{img:'training2.jpg', title:'Государственный курс обучения по Аюрведе, ведущий М.А. Суботялов', text:'После прохождения этого курса вы получите базовые навыки работы консультанта по здоровому образу жизни на основе принципов Аювреды, сможете начать собственную практику, оздоровить себя и своих близких с помощью Аюрведы.', date:'Дата начала: сентябрь 2019', hours:'4 месяца', form:'вебинар', teacher:'Суботялов М.А.', price:'60000 руб.'},
				{img:'training3.jpg', title:'Запись вебинара "Аюрведическая психология изменения вредных привычек и преодоление самосаботажа", ведущая Надежда Андреева', text:'Вебинар посвящён теме создания и поддержания новых жизненных привычек: полноценного питания, режима сна и отдыха, физических упражнений, постановки и достижения целей. Автор вебинара в простой и доступной форме рассказывает о том, как не терять мотивацию и стремиться к выполнению задуманного.', hours:'1 час', form:'вебинар', teacher:'Надежда Андреева', price:'500 руб.'},
				{img:'training4.jpg', title:'Базовый курс по Аюрведе: "Модуль 1: Основы Аюрведы", ведущий Рам Манохар', text:'Курс для тех, кто хочет получить глубокие теоретические и практические знания по аюрведической медицине и стать сертифицированным специалистом. Эта часть курса посвящена изучению базовых понятий на санскрите через их этимологический анализ. Вы изучите теорию шести систем знаний – Шесть Даршан, а также Сиддханта.', hours:'24 часа', form:'вебинар', teacher:'Доктор Рам Манохар', price:'5000 руб.'},
				{img:'training1.jpg', title:'Запись курса обучения по Аюрведе (вторая часть)', text:'После прохождения этого курса вы получите базовые навыки работы консультанта по здоровому образу жизни на основе принципов Аювреды, сможете начать собственную практику, оздоровить себя и своих близких с помощью Аюрведы.', hours:'54 ак. часа', form:'вебинар', teacher:'Суботялов М.А.', price:'30000 руб.'},
				{img:'training4.jpg', title:'Базовый курс по Аюрведе: "Модуль 2: Образ жизни и диета в Аюрведе", ведущий Рам Манохар', text:'Курс для тех, кто хочет получить глубокие теоретические и практические знания по аюрведической медицине и стать сертифицированным специалистом. В этой части курса вы узнаете, что означают такие понятия как пракрити, шарира, разум, образ жизни и диета, и рассмотрите методы Расаяны для улучшения врожденного и приобретенного иммунитета в Аюрведе.', hours:'21 час', form:'вебинар', teacher:'Доктор Рам Манохар', price:'7000 руб.'},
				{img:'training1.jpg', title:'Запись углубленного курса "Основы аюрведической медицины"', text:'На курсе вы изучите концепцию здоровья в Аюрведе и сможете проводить самостоятельный анализ здоровья пациентов в терминах и понятиях аюрведической медицины. Научитесь применять основные аюрведические концепции и принципы при выборе образа жизни и питания.', hours:'30 ак. часов', teacher:'Рам Манохар', price:'18000 руб. '},
			]

		each item in list
			.training__item
				.training__img
					img(src="assets/img/"+item.img, alt="")

				.training__content
					.training__title
						a(href="#")= item.title

					.training__text= item.text

					.training-param
						.training-param__col
							if(item.date)
								.training-time
									.training-time__icon
										+svg('ic-calendar','ic-calendar', '27', '27')

									.training-time__text= item.date

							if(item.hours)
								.training-time
									.training-time__icon
										+svg('ic-clock','ic-clock', '27', '27')
									.training-time__text= item.hours

						.training-param__col
							if(item.form)
								.training-param__item
									span.training-param__label Форма обучения: 
									span.training-param__text= item.form

							if(item.teacher)
								.training-param__item
									span.training-param__label Преподаватель: 
									span.training-param__text= item.teacher

					.training__bottom
						.training-price
							span.training-price__label Стоимость: 
							span.training-price__text= item.price


						a(href="#").btn-shadow Подробнее